body{

  .container{
      width:960px;
      margin: 0 auto;
      box-sizing: border-box;

      @media (max-width: 991px) {
        width: 100%;
        box-sizing: border-box;
      }
    }

  p.baseline {
      color:#fff;
      text-align: center;
      letter-spacing: 2px;
      padding: 20px 0;
      margin-top:3%; 
      .fontSize26;
      font-family: 'Open-Sans', sans-serif;
      font-weight: bold;
    }

    h1 {
      padding: 30px 0 20px;
      text-align: center;   
    }

  	.fullscreen-bg {
  		position: relative;
  		height: 100vh;

      @media (max-width: 991px) {
        height: 70vh;
      }

      .header-arrow {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        padding: 10px;
        margin-left: -19px;
        display: block;
        cursor: pointer;
        border: 1px solid white;
        .borderRadiusAll(50%);
        line-height: 1.8rem;
        .transitionAllCustom(0.3s);
        z-index: 100;
        background: rgba(0, 0, 0, 0.5);
        color:#fff;

        &:hover {
          padding: 15px;
          margin-left: -26px;
        }

        img {
          width: 100%;
        }
      }

		@media (max-width: 991px) {
			background: url('../img/sun.jpg') center center / cover no-repeat;
		}

		.fullscreen-bg-video {
			position:absolute;
		  	top: 0;
		  	left: 0;
		  	width: 100%;
		  	height: 100%;
		  	z-index: -100;
		  	object-fit:cover;
		}

  		.bottom-wrapper {
  			height: 100%;
  			padding-top: 30px;
  			padding-bottom: 30px;
  			position: relative;
  			color: white;
        background:url(../img/bgAccueil.jpg);
        background-size: cover;
        width:100%;

  			.bottom-wrapper-baseline {
  				padding: 0 15px;
  				p {
  					font-family: 'Roboto', sans-serif;
  					margin-top: 10px;
  					.fontSize10;
  					letter-spacing: 2px;
  				}
  			}

  			.bottom-wrapper-app {
  				width: 100%;
  				position: absolute;
  				bottom: 0;
  				.bottom-wrapper-app-discover {
  					text-align:center;
            margin-bottom:9%;
  					padding: 0 15px;


  					@media(max-width: 991px) {
  						margin-top: 0;
  					}

  					.button {
                background:#e96160;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
                color:#fff;
                padding:10px;
                font-family:Roboto,sans-serif;
                .fontSize12;
                transition: background 1s;
                text-decoration: none;
                &:hover{
                  background:darken(#e96160, 20%);
                }
            }
  				}

  				img {
  					max-width: 100%;
  					float: right;

  					@media (max-width: 991px) {
  						margin-top: 10px;
  						width: 50%;
  					}
  				}
  			}
  		}
	}

	footer {
		padding: 20px 0;
		background: #151515;
		text-align: center;

		a {
			color: white;
			.fontSize9;
			text-decoration: none;

			&:hover {
				color: white;
				text-decoration: none;
			}
			&:visited {
				color: white;
				text-decoration: none;
			}
		}
	}
}