body{
	.fullscreen-bg {

		  	top: 0;
		  	right: 0;
		  	bottom: 0;
		  	left: 0;
		  	overflow: hidden;
		  	z-index: -100;
		  	height:100vh;	 
	    	background: url('../img/sun.jpg') center center / cover no-repeat;
	  		position:absolute;
		  	.container{
		  		width:100%;
		  		max-width:960px;
		  		margin-left:auto;
		  		margin-right:auto;
		  		&.poeme{
		  			top:0;
		  		}
		  		p{
		  			tex-align:right;
		  			font-size:22px;
		  			font-family: 'Dosis', sans-serif;
		  			color: #FFF;
		  			font-weight:500;
		  			&.legende{
		  				font-weight:300;
		  				font-size:22px;
		  				margin-top:15%;
		  			}
		  			span{
		  				diplay:block;
		  			}
		  		}
			  	.apps{
		
			  	}
			  	.mobiles{
			  		position:fixed;
			  		bottom:0;
			  		left:50%;
			  	}
			}
	}

	.fullscreen-bg__video {
			position:fixed;
		  	top: 0;
		  	left: 0;
		  	width: 100%;
		  	height: 100%;
		  	z-index: -100;
		  	object-fit:cover;
	}
 
	@media (max-width: 768px) {
	.tablet{

		display:none;
	}

	
	}



	
}