body{
	.fullscreen-bg {
			position:relative;
		  	top: 0;
		  	right: 0;
		  	bottom: 0;
		  	left: 0;
		  	overflow: hidden;
		  	z-index: -100;
		  	section{
		  		width:960px;
		  		margin-left:auto;
		  		margin-right:auto;
		  		position:absolute;
		  		top: 50;
		  		right: 0;
		  		bottom: 0;
		  		left: 0;
		  		&.poeme{
		  			top:0;
		  		}
		  		p{
		  			tex-align:right;
		  			font-size:22px;
		  			font-family: 'Dosis', sans-serif;
		  			color: #FFF;
		  			font-weight:500;
		  			&.legende{
		  				font-weight:300;
		  				font-size:22px;
		  				margin-top:15%;
		  			}
		  			span{
		  				diplay:block;
		  			}
		  		}
			  	.apps{
			  		width:50%;
			  		float:left;
			  	}
			  	.mobiles{
			  		width:50%;
			  		float:right;
			  	}
			}
	}

	.fullscreen-bg__video {
			posotion:relative;
		  	top: 0;
		  	left: 0;
		  	width: 100%;
		  	height: 100%;
		  	z-index: -100;
	}
 
	@media (min-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
		    height: 300%;
		    top: -100%;
		 }
	}
 
	@media (max-aspect-ratio: 16/9) {
	  .fullscreen-bg__video {
	    width: 300%;
	    left: -100%;
	  }
	}
 
	@media (max-width: 991px) {
	  .fullscreen-bg {
	    background: url('../img/sun.png') center center / cover no-repeat;
	  }
	 
	  .fullscreen-bg__video {
	    display: none;
	  }
	}



	
}