body {
	font-family: 'Dosis', sans-serif;

	header#header {

		ul.header-list {
			height: 100vh;
			border: 0;
			padding: 0;

			li.header-list-item {
				width: 25%;
				height: 100%;
				float: left;
				box-sizing: border-box;
				color: white;
				.transitionAllCustom(0.8s);

				&:nth-child(1n) {
					background: url(../img/bg-1st.jpg) center center no-repeat;
					background-size: cover;
				}
				&:nth-child(2n) {
					background: url(../img/bg-2th.jpg) center center no-repeat;
					background-size: cover;
				}
				&:nth-child(3n) {
					background: url(../img/bg-3th.jpg) center center no-repeat;
					background-size: cover;
				}
				&:nth-child(4n) {
					background: url(../img/bg-4th.jpg) center center no-repeat;
					background-size: cover;
				}

				& > a {
					height: 100%;
					display: block; 
					color: white;
					text-decoration: none;
					position: relative;
					background-color: @black-top-bg;
					overflow-y: hidden;

					@media (max-width: 991px) {
						background-color: transparent;
					}

					.header-list-item-infos {
						position: absolute;
						top: 50%;
						width: 100%;
						margin-top: -132px;
						.transitionAllCustom(0.3s);

						@media (max-width: 991px) {
							position: initial;
							margin: 0;
							padding: 10px;
						}

						i.header-list-item-icon {
							width: 70px;
							height: 70px;
							margin: 0 auto;
							padding: 20px;
							display: block;
							.fontSize35;
							border: 1px solid @grey-light;
							.borderRadiusAll(50%);
							margin-bottom: 50px;
							text-align: center;
							line-height: 4.5rem;

							@media (max-width: 991px) {
								width: 30px;
								height: 30px;
								.fontSize16;
								margin-bottom: 10px;
								line-height: 2.15rem;
								padding: 10px;
							}
						}

						p {
							text-align: center;

							&.header-list-item-title {
								.fontSize20;
								font-weight: 500;
								letter-spacing: 5px;
								text-transform: uppercase;
								margin-bottom: 30px;

								@media (max-width: 991px) {
									margin-bottom: 10px;
									.fontSize13;
								}
							}

							&.header-list-item-subtitle {
								.fontSize11;
								font-weight: 300;
								letter-spacing: 5px;

								@media (max-width: 991px) {
									.fontSize10;
								}
							}
						}
					}

					.header-list-item-alexandrin {
						padding: 20px 40px;
						background: white;
						position: absolute;
						bottom: -100%;
						left: 0;
						min-height: 31vh;
						.transitionAll(0.3s);
						opacity: 0;

						hr {
							width: 25%;
							margin: 0 auto 20px;
							border: none;
							border-top: 1px solid @grey-didot;
						}

						p {
							font-family: "Didot", serif;
							font-style: italic;
							font-weight: 100;
							color: @grey-didot;
							.fontSize11;
						}
					}
				} //end link

				@media (min-width: 991px) {
					&:hover {

						& > a {
							background-color: rgba(0, 0, 0, 0);

							.header-list-item-infos {
								top: 30%;
							}

							.header-list-item-alexandrin {
								bottom: 0;
								opacity: 1;
							}
						}
					}
				}

				@media (max-width: 991px) {

					&.opened {

						& > a {
							background-color: rgba(0, 0, 0, 0);

							.header-list-item-infos {
								top: 30%;
							}

							.header-list-item-alexandrin {
								width: 100%;
								height: 100%;
								min-height: 100%;
								bottom: 0;
								opacity: 1;
								box-sizing: border-box;
								// padding: 20px 20%;
							}
						}
					}
				}
				.transitionAllCustom(0.5s);

				@media (max-width: 991px) {
					width: 100%;
					height: 25%;
				}
			}
		}
	}
}